<h1 class="page__title" id="page-title" itemprop="headline">第2章: UNIXコマンド
</h1>

<ul class="toc__menu">
<li><a href="#10-行数のカウント">10. 行数のカウント</a></li>
<li><a href="#11-タブをスペースに置換">11. タブをスペースに置換</a></li>
<li><a href="#12-1列目をcol1txtに2列目をcol2txtに保存">12. 1列目をcol1.txtに，2列目をcol2.txtに保存</a></li>
<li><a href="#13-col1txtとcol2txtをマージ">13. col1.txtとcol2.txtをマージ</a></li>
<li><a href="#14-先頭からn行を出力">14. 先頭からN行を出力</a></li>
<li><a href="#15-末尾のn行を出力">15. 末尾のN行を出力</a></li>
<li><a href="#16-ファイルをn分割する">16. ファイルをN分割する</a></li>
<li><a href="#17-１列目の文字列の異なり">17. １列目の文字列の異なり</a></li>
<li><a href="#18-各行を3コラム目の数値の降順にソート">18. 各行を3コラム目の数値の降順にソート</a></li>
<li><a href="#19-各行の1コラム目の文字列の出現頻度を求め出現頻度の高い順に並べる">19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる</a></li>
</ul>

<p><a href="/data/popular-names.txt">popular-names.txt</a>は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，<a href="/data/popular-names.txt">popular-names.txt</a>を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．</p>

In [1]:
! ls ./data

popular-names.txt

In [3]:
import os
import pandas as pd

<h2 id="10-行数のカウント">10. 行数のカウント</h2><p>行数をカウントせよ．確認にはwcコマンドを用いよ．</p>

In [8]:
pd.read_csv("./data/popular-names.txt", sep='\t', header=None).shape[0]

2780

In [5]:
! wc -l data/popular-names.txt

2780 data/popular-names.txt

<h2 id="11-タブをスペースに置換">11. タブをスペースに置換</h2><p>タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．</p>

In [13]:
! sed -e 's/\t/ /g' data/popular-names.txt | head -n 3

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
sed: couldn't write 17 items to stdout: Broken pipe

In [15]:
! cat data/popular-names.txt | tr "\t" " " | head -n 3

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880

In [17]:
! expand data/popular-names.txt | head -n 3

Mary    F       7065    1880
Anna    F       2604    1880
Emma    F       2003    1880
expand: write error: Broken pipe
expand: write error

<h2 id="12-1列目をcol1txtに2列目をcol2txtに保存">12. 1列目をcol1.txtに，2列目をcol2.txtに保存</h2><p>各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．</p>

In [18]:
df = pd.read_csv("data/popular-names.txt", sep="\t", header=None, names=["name", "sex", "number", "gender"])
df.iloc[:,1].to_csv("output/col1.txt", index=None)
df.iloc[:,2].to_csv("output/col2.txt", index=None)

In [19]:
df.iloc[:,0].head(3)

0    Mary
1    Anna
2    Emma
Name: name, dtype: object

In [20]:
df.iloc[:,1].head(3)

0    F
1    F
2    F
Name: sex, dtype: object

In [27]:
df.iloc[:,0].to_csv("output/col1.txt", index=None, header=None)
df.iloc[:,1].to_csv("output/col2.txt", index=None, header=None)

In [28]:
! cut -f 1-2 data/popular-names.txt | head -n 3

Mary	F
Anna	F
Emma	F
cut: write error: Broken pipe

In [29]:
! head -n 3 output/col1.txt

Mary
Anna
Emma

<h2 id="13-col1txtとcol2txtをマージ">13. col1.txtとcol2.txtをマージ</h2><p>12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．</p>

In [32]:
col1 = pd.read_csv("output/col1.txt", header=None)
col2 = pd.read_csv("output/col2.txt", header=None)

col1_col2 = pd.concat([col1, col2], axis=1)
col1_col2.to_csv("output/col1_col2.txt", sep="\t", index=False, header=None)

In [33]:
! head -n 3 output/col1_col2.txt

Mary	F
Anna	F
Emma	F

In [35]:
! paste output/col1.txt output/col2.txt | head -n 3

Mary	F
Anna	F
Emma	F
paste: write error: Broken pipe
paste: write error

<h2 id="14-先頭からn行を出力">14. 先頭からN行を出力</h2><p>自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．</p>

In [38]:
def head_df(n):
    print(df.head(n))

In [39]:
head_df(3)

   name sex  number  gender
0  Mary   F    7065    1880
1  Anna   F    2604    1880
2  Emma   F    2003    1880

<h2 id="15-末尾のn行を出力">15. 末尾のN行を出力</h2><p>自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．</p>

In [40]:
def tail_df(n):
    print(df.tail(n))

<h2 id="16-ファイルをn分割する">16. ファイルをN分割する</h2><p>自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．</p>

In [78]:
def split_df(n):
    return [df_ for _, df_ in df.groupby([df.index%n])]

In [83]:
for df_ in split_df(3):
    print(df_.shape)
    print(df_.head(2))

(927, 4)
        name sex  number  gender
0       Mary   F    7065    1880
3  Elizabeth   F    1939    1880
(927, 4)
     name sex  number  gender
1    Anna   F    2604    1880
4  Minnie   F    1746    1880
(926, 4)
       name sex  number  gender
2      Emma   F    2003    1880
5  Margaret   F    1578    1880

In [88]:
! split -n3 -d data/popular-names.txt tmp/popular-names-split && ls tmp && rm tmp/*

popular-names-split00  popular-names-split01  popular-names-split02

<h2 id="17-１列目の文字列の異なり">17. １列目の文字列の異なり</h2><p>1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．</p>

In [46]:
df.iloc[:,0].sort_values().unique()

array(['Abigail', 'Aiden', 'Alexander', 'Alexis', 'Alice', 'Amanda',
       'Amelia', 'Amy', 'Andrew', 'Angela', 'Anna', 'Annie', 'Anthony',
       'Ashley', 'Austin', 'Ava', 'Barbara', 'Benjamin', 'Bertha',
       'Bessie', 'Betty', 'Brandon', 'Brian', 'Brittany', 'Carol',
       'Carolyn', 'Charles', 'Charlotte', 'Chloe', 'Christopher', 'Clara',
       'Crystal', 'Cynthia', 'Daniel', 'David', 'Deborah', 'Debra',
       'Donald', 'Donna', 'Doris', 'Dorothy', 'Edward', 'Elijah',
       'Elizabeth', 'Emily', 'Emma', 'Ethan', 'Ethel', 'Evelyn',
       'Florence', 'Frances', 'Frank', 'Gary', 'George', 'Hannah',
       'Harper', 'Harry', 'Heather', 'Helen', 'Henry', 'Ida', 'Isabella',
       'Jacob', 'James', 'Jason', 'Jayden', 'Jeffrey', 'Jennifer',
       'Jessica', 'Joan', 'John', 'Joseph', 'Joshua', 'Judith', 'Julie',
       'Justin', 'Karen', 'Kathleen', 'Kelly', 'Kimberly', 'Larry',
       'Laura', 'Lauren', 'Liam', 'Lillian', 'Linda', 'Lisa', 'Logan',
       'Lori', 'Lucas', 'Madison', 'Margaret', 'Marie', 'Mark', 'Mary',
       'Mason', 'Matthew', 'Megan', 'Melissa', 'Mia', 'Michael',
       'Michelle', 'Mildred', 'Minnie', 'Nancy', 'Nicholas', 'Nicole',
       'Noah', 'Oliver', 'Olivia', 'Pamela', 'Patricia', 'Rachel',
       'Rebecca', 'Richard', 'Robert', 'Ronald', 'Ruth', 'Samantha',
       'Sandra', 'Sarah', 'Scott', 'Sharon', 'Shirley', 'Sophia',
       'Stephanie', 'Steven', 'Susan', 'Tammy', 'Taylor', 'Thomas',
       'Tracy', 'Tyler', 'Virginia', 'Walter', 'William'], dtype=object)

In [62]:
df.iloc[:,0].sort_values().nunique()

136

In [49]:
! cut -f 1 data/popular-names.txt | sort | uniq | tr "\n" "\t"

Abigail	Aiden	Alexander	Alexis	Alice	Amanda	Amelia	Amy	Andrew	Angela	Anna	Annie	Anthony	Ashley	Austin	Ava	Barbara	Benjamin	Bertha	Bessie	Betty	Brandon	Brian	Brittany	Carol	Carolyn	Charles	Charlotte	Chloe	Christopher	Clara	Crystal	Cynthia	Daniel	David	Deborah	Debra	Donald	Donna	Doris	Dorothy	Edward	Elijah	Elizabeth	Emily	Emma	Ethan	Ethel	Evelyn	Florence	Frances	Frank	Gary	George	Hannah	Harper	Harry	Heather	Helen	Henry	Ida	Isabella	Jacob	James	Jason	Jayden	Jeffrey	Jennifer	Jessica	Joan	John	Joseph	Joshua	Judith	Julie	Justin	Karen	Kathleen	Kelly	Kimberly	Larry	Laura	Lauren	Liam	Lillian	Linda	Lisa	Logan	Lori	Lucas	Madison	Margaret	Marie	Mark	Mary	Mason	Matthew	Megan	Melissa	Mia	Michael	Michelle	Mildred	Minnie	Nancy	Nicholas	Nicole	Noah	Oliver	Olivia	Pamela	Patricia	Rachel	Rebecca	Richard	Robert	Ronald	Ruth	Samantha	Sandra	Sarah	Scott	Sharon	Shirley	Sophia	Stephanie	Steven	Susan	Tammy	Taylor	Thomas	Tracy	Tyler	Virginia	Walter	William

In [63]:
! cut -f 1 data/popular-names.txt | sort | uniq | wc -l

136

<h2 id="18-各行を3コラム目の数値の降順にソート">18. 各行を3コラム目の数値の降順にソート</h2><p>各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．</p>

In [50]:
df.sort_values(df.columns[2], ascending=False).head(3)

       name sex  number  gender
1340  Linda   F   99689    1947
1360  Linda   F   96211    1948
1350  James   M   94757    1947

In [54]:
! sort -n -k3 -r data/popular-names.txt | head -n 3

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
sort: write failed: 'standard output': Broken pipe
sort: write error

<h2 id="19-各行の1コラム目の文字列の出現頻度を求め出現頻度の高い順に並べる">19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる</h2><p>各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．</p>

In [56]:
df.iloc[:,0].value_counts().head(3)

James      118
William    111
John       108
Name: name, dtype: int64

In [61]:
! cut -f1 data/popular-names.txt | sort | uniq -c | sort -n -k1 -r | head -n 3

    118 James
    111 William
    108 Robert